#github "tadija/AEAccordion"
#github "patchthecode/JTAppleCalendar" ~> 7.0
#github "malcommac/SwiftLocation"
#github "vikmeup/SCLAlertView-Swift" "master"
#github "Alamofire/Alamofire" ~> 4.6
github "mxcl/PromiseKit" ~> 6.0
